/EmployeeSalaryAverage$Employee.class
/EmployeeSalaryAverage.class
/LibraryBookStatistics$Book.class
/LibraryBookStatistics.class
/OrderRevenueSummary$Order.class
/OrderRevenueSummary.class
/StudentResultGrouping$Student.class
/StudentResultGrouping.class
/WordFrequencyCounter.class
