/Movie.class
/TopFiveTrendingMovies.class
/Doctor.class
/HospitalDoctorAvailability.class
/Claim.class
/ExpiringMemberships.class
/InsuranceClaimAnalysis.class
/Member.class
/TransformNames.class
/StockPriceLogger.class
/EventWelcome.class
/SensorReadings.class
/EmailNotifications.class
/TransactionLogger.class
